<div class="header-wrap">
    <div class="header">
        <div class="header-menu">
            <div class="header-menu-left">
                <div class="header-menu-logo">
                    <div class="header-menu-logo__image">
                        <img src="./assets/images/footer-logo.svg" alt="logo"/>
                    </div>
                    <div class="header-menu-logo__text">
                        СМЕТНЫЙ ОФИС
                    </div>
                </div>
                <div class="header-menu-navigation">
                    <div class="header-menu-navigation__link">
                        Главная
                    </div>
                    <div class="header-menu-navigation-dropdown">
                        Продукты
                        <div class="header-menu-navigation-dropdown__icon">
                            <img src="./assets/images/dropdown-icon.svg" alt="dropdown-icon"/>
                        </div>
                    </div>
                    <div class="header-menu-navigation-dropdown">
                        Данные
                        <div class="header-menu-navigation-dropdown__icon">
                            <img src="./assets/images/dropdown-icon.svg" alt="dropdown-icon"/>
                        </div>
                    </div>
                    <div class="header-menu-navigation__link">
                        Цены
                    </div>
                </div>
            </div>
            <div class="header-menu-actions">
                <input type="button" value="Логин" class="header-menu-actions__login-button"/>
                <input type="button" value="Регистрация" class="header-menu-actions__registration-button" (click)="moveToRegBlock()"/>
            </div>
        </div>
        <div class="header-content">
            <div class="header-content-text">
                <div class="header-content-text-supporting">
                    Простой способ заработать на сметах
                </div>
                <div class="header-content-text-header">
                    Инновационное составления смет
                </div>
                <div class="header-content-text-description">
                    Работайте меньше, получайте больше
                </div>
            </div>
            <div class="header-content-actions">
                <div class="header-content-actions__secondary-button-wrap">
                    <img src="./assets/images/play-icon.svg" alt="play-icon"/>
                    <input type="button" value="Демонстрация работы" class="header-content-actions__secondary-button"/>
                </div>
                <input type="button" value="Регистрация" class="header-content-actions__main-button" (click)="moveToRegBlock()"/>
            </div>
        </div>
        <div class="header-light">
            <img src="./assets/images/light.png" alt="dropdown-icon"/>
        </div>
    </div>
</div>