<div class="cta-wrap">
    <div class="cta">
        <div class="cta-content">
            <div class="cta-content-text">
                <div class="cta-content-text__header">
                    Попробуйте Сметный офис
                </div>
                <div class="cta-content-text__supporting-text">
                    Присоединяйтесь к сообществу сметчиков, нас уже более 5000+ человек
                </div>
            </div>
            <div class="cta-content-actions">
                <input type="button" value="Подробнее" class="cta-content-actions__secondary-button"/>
                <input type="button" value="Начать использовать Сметный офис" class="cta-content-actions__main-button" (click)="moveToRegBlock()"/>
            </div>
        </div>
        <div class="cta__image">
        </div>
    </div>
</div>
