<div class="quote-wrap">
    <div class="quote">
        <div class="quote-logo">
            <img src="./assets/images/Logomark.svg" alt="logo"/>
            <img src="./assets/images/Logotype.svg" alt="logotext"/>
        </div>
        <div class="quote-text">
            Когда пришлось делать сразу 10 смет, я не думала что успею, но Сметный офис мне помог в этом
        </div>
        <div class="quote-person">
            <div class="quote-person__avatar">

            </div>
            <div class="quote-person__name">
                Симона Ли
            </div>
            <div class="quote-person__text">
                Главный инженер Global Trust Investment
            </div>
        </div>
    </div>
</div>